body{
    margin:0;
    font-family: 'Tomorrow', sans-serif;
}
#intro{
    height:100vh;
    width:100vw;
    background-image: url('../img/intro_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    
}

.introHeading{
    width:500px;
    height: 100px;
    margin-bottom:20px;
    background-image: url(../img/Minecraft_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.introButton>button{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 900;
    font-size: 100%;
    border-radius: 5px;
    margin: 0 6px 0 6px
}

#tutorialWrapper{
    height:100vh;
    width:100vw;
    position: absolute;
    background-color:rgba(112,128,144, 0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

.tutorialBox{
    height:70vh;
    width:35vw;
    background-color: whitesmoke;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding:10px;
}

.tutorialMainText{
    margin: 0 40px 0 40px;
}

.tutorialHeader{
    font-weight: 900;
    font-size:35px;
    
}
#closeTutorial{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 900;
    font-size: 20px;
    border-radius:5px;
    background-color: tomato;
    border:2px solid black;
    
}

#gameContainer{
    height: calc(100vh - 100px);
    width:100wh;
    border:1px solid black;
    background-color: lightblue;
}
.box{
    width:5%;
    background-size: cover;
    background-repeat: no-repeat;
}

.rows{
    display:flex;
    height:10%;
}
#toolBox{
    position: fixed;
    height: 100px;
    border: 1px solid black;
    background: rgb(90, 48, 8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#top-toolBox, #bottom-toolBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool{
    height: 40px;
    width: calc(100vw / 18);
    border: 1px solid black;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* .sky{
    
} */

.grass, .grassResource{
    background-image: url('../img/grass.jpg');
}

.ground, .groundResource{
    background-image: url('../img/ground.jpg');
}
.wood, .woodResource{
    background-image: url('../img/wood.jpg');
}
.stone, .stoneResource{
    background-image: url('../img/stone.jpg');
}
.leaves, .leavesResource{
    background-image: url('../img/leaves.png');
}
.stoneResource:hover, .woodResource:hover, .groundResource:hover, .grassResource:hover{
    opacity: 0.75;
}
.axe{
    background-image: url('../img/axe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.shovel{
    background-image: url('../img/shovel.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.pickaxe{
    background-image: url('../img/pickaxe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 576px){
    .tool{
        width: calc(100vw / 8);
    }
}
@media screen and (max-width: 900px){
    .tool{
        width: calc(100vw / 12);
    }
}